<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3><%= @project.name %></h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Liste des sprints</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p id="notice"><%= notice %></p>

          <table class="table table-hover">
            <thead>
              <tr>
                <td>Numéro de sprint</td>
                <td>Date de début</td>
                <td>Date de fin</td>
                <td>Vélocité prévue</td>
                <td>Vélocité constatée</td>
                <td>Nombre de retours internes</td>
                <td>Nombre de retours externes</td>
                <td>Satisfaction de l'équipe</td>
                <td>Satisfaction du client</td>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @sprints.each do |sprint| %>
              <tr>
                <td><%= sprint.number %></td>
                <td><%= l(sprint.startDate) %></td>
                <td><%= l(sprint.endDate) %></td>
                <td><%= sprint.velocityForecast %></td>
                <td><%= sprint.velocityReal %></td>
                <td><%= sprint.internalBugs %></td>
                <td><%= sprint.externalBugs %></td>
                <td><%= sprint.teamSatisfaction %></td>
                <td><%= sprint.clientSatisfaction %></td>
                <td><%= link_to 'Editer', [:edit, @project, sprint] %></td>
                <td><%= link_to 'Supprimer', [@project, sprint], method: :delete, data: { confirm: 'Sûr ?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
